<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>argon2 online</title>
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hash-wasm@4/dist/argon2.umd.min.js"></script>
    <style type="text/css">
        .grid-2 {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(1, 5em 10em);
        }

        @media (min-width: 1024px) {
            .grid-2 {
                display: grid;
                align-items: center;
                column-gap: 0.5em;
                grid-template-columns: repeat(1, 5em 15em);
            }

            .window {
                width: 50em;
                margin: auto;
            }
        }
    </style>
</head>



<body>
    <div id="app">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">
                    argon2 online
                </div>

                <div class="title-bar-controls">
                    <button aria-label="Close" @click="close()"></button>
                </div>
            </div>
            <div class="window-body">
                <div class="grid-2">
                    <p>password: </p>
                    <input type="text" v-model="pass" />
                    <p>salt: </p>
                    <input type="text" v-model="salt" />
                    <p>len: </p>
                    <input type="text" v-model="len" />
                    <p>memorySize: </p>
                    <input type="text" v-model="memorySize" />
                    <p>parallelism: </p>
                    <input type="text" v-model="iterations" />
                    <p>parallelism: </p>
                    <input type="text" v-model="parallelism" />
                </div>

                <section class="field-row" style="justify-content: flex-end">
                    <button @click="scrypy">OK</button>
                </section>
            </div>
        </div>
        <div class="window" style="margin-top: 10px;" v-show="outputShow">
            <div class="title-bar">
                <div class="title-bar-text">
                    output
                </div>
                <div class="title-bar-controls">
                    <button aria-label="Close" @click="outputShow = false"></button>
                </div>
            </div>
            <div class="window-body">
                <pre style="white-space: pre-wrap;word-break: break-all">output: {{ outhash }}</pre>
                <br />
                <pre>time: {{ ctime }}</pre>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    Vue.createApp({
        setup(props, context) {
            const pass = Vue.ref("")
            const salt = Vue.ref("")
            const len = Vue.ref(32)
            const memorySize = Vue.ref(40000)
            const iterations = Vue.ref(1)
            const parallelism = Vue.ref(1)
            const outputShow = Vue.ref(false)
            const outhash = Vue.ref("")
            const ctime = Vue.ref("")

            function close() {
                window.close()
            }

            async function scrypy() {
                try {
                    const st = new Date()
                    const key = await hashwasm.argon2id({
                        password: pass.value,
                        salt: salt.value, // salt is a buffer containing random bytes
                        parallelism: Number(parallelism.value),
                        iterations: Number(iterations.value),
                        memorySize: Number(memorySize.value),
                        hashLength: Number(len.value), // output size = 32 bytes
                        outputType: 'encoded', // return standard encoded string containing parameters needed to verify the key
                    })
                    outhash.value = key
                    ctime.value = (new Date() - st) + "ms"
                    outputShow.value = true
                } catch (e) {
                    alert(String(e))
                    console.error(e)
                }
            }
           
            return {
                close,
                pass,
                salt,
                len,
                memorySize,
                iterations,
                parallelism,
                outputShow,
                scrypy,
                outhash,
                ctime
            }
        },
    }).mount('#app')



</script>

</html>