<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>geoip 库 ip 地址查询</title>
    <link rel="stylesheet" href="https://static.xmdhs.com/style.css">
    <script src="https://static.xmdhs.com/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="container-lg px-3 my-5 markdown-body">
            <h1>ip 地址查询</h1>
            <form id="getip" @submit.prevent="submit" style="display: flex;column-gap: 2px;flex-wrap:wrap;">
                <textarea id="ip" placeholder="1.1.1.1&#10;8.8.8.8" name="ip" v-model.trim="ip" @click="$event.target.select()" style="flex: 1 1 100%; margin-bottom: 2px;"></textarea>
                <input type="submit" value="查询">
                <select v-model="geo">
                    <option value="bil">bilibili</option>
                    <option value="tencent">tencent</option>
                    <option value="meituan">meituan</option>
                    <option value="geoip">geoip</option>
                    <option value="ip2location">ip2location</option>
                    <option value="qqwry">qqwry</option>
                </select>
            </form>
            <hr>
            <transition-group class="result" tag="div" name="list">
                <div class="card" v-for="{ip, result, id, spam, hostname} in resultList" :key="id">
                    <div class="card-body">
                        <div
                            style="flex: 1 0 100%;display: flex;flex-wrap: wrap;align-items: baseline;column-gap: 2px;">
                            <span class="card-title">{{ ip }}</span>
                            <span class="card-text" v-if="hostname">{{ hostname }}</span>
                        </div>
                        <span class="card-text">{{ result.country || ""}}</span>
                        <span class="card-text">{{ result.region || ""}}</span>
                        <span class="card-text">{{ result.city || ""}}</span>
                        <span class="card-text">{{ result.district || ""}}</span>
                        <span class="card-text isp">{{ result.isp || ""}}</span>
                        <span class="card-text"><a :href="'https://radar.cloudflare.com/as' + result.ASN"
                                target="_blank">{{ result.ASN ? "AS" + result.ASN : "" }}</a></span>
                        <span class="card-text"><a href="https://www.spamhaus.org/" target="_blank">{{ spam || ""
                                }}</a></span>
                        <div style="display: flex;flex:1;justify-content:flex-end">
                            <span class="card-text">{{ result.type || "" }}</span>
                        </div>
                    </div>
                </div>
            </transition-group>
        </div>
    </div>
</body>

<script>
    Vue.createApp({
        setup() {
            const resultList = Vue.ref([]);
            const ip = Vue.ref("");
            const id = Vue.ref(0);
            const geo = Vue.ref("bil");

            /*
            127.0.0.2	SBL	Spamhaus SBL Data
            127.0.0.3	SBL	Spamhaus SBL CSS Data
            127.0.0.4	XBL	CBL Data
            127.0.0.9	SBL	Spamhaus DROP/EDROP Data (in addition to 127.0.0.2, since 01-Jun-2016)
            127.0.0.10	PBL	ISP Maintained
            127.0.0.11	PBL	Spamhaus Maintained
            */

            const _spamCode = {
                "127.0.0.2": "SBL",
                "127.0.0.3": "SBL",
                "127.0.0.4": "XBL",
                "127.0.0.9": "SBL",
                "127.0.0.10": "PBL (isp)",
                "127.0.0.11": "PBL (ext)",
                "127.255.255.252": "Typing error in DNSBL name",
            }
            function spamCode(code) {
                return _spamCode[code] || "Err code: " + code;
            }

            async function getip(ip) {
                const isIpV4 = /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/.test(ip);
                const isIpV6 = ip.includes(':');
                if (isIpV4 || isIpV6) {
                    return ip;
                }
                const rr = await fetch(`https://dns.alidns.com/resolve?name=${ip}&type=1`)
                const rrj = await rr.json()
                if (rr.status != 200) {
                    throw "查询失败"
                }
                if (rrj.Answer && rrj.Answer.length != 0) {
                    return rrj.Answer[0].data
                }
                return ip
            }


            async function query(rawip) {
                id.value = id.value + 1
                let ipForQuery = rawip;
                try {
                    ipForQuery = await getip(ipForQuery)
                    const u = new URL("https://geo.xmdhs.com/ip/" + ipForQuery)
                    u.searchParams.set("type", geo.value)
                    const r = await fetch(u.toString())
                    const result = await r.json()
                    if (r.status != 200) {
                        throw result.msg
                    }
                    result.type = geo.value
                    const ipInfo = {
                        ip: ipForQuery,
                        result: result,
                        id: id.value,
                        spam: Vue.ref(""),
                        hostname: Vue.ref("")
                    }
                    resultList.value.unshift(ipInfo)


                    if (ipv4like) {
                        const iplreverse = ipForQuery.split(".").reverse().join(".");
                        (async () => {
                            const domain = iplreverse + ".zen.spamhaus.org."
                            const r = await fetch(`https://dns.alidns.com/resolve?name=${domain}&type=A`, {
                                headers: { 'accept': 'application/dns-json' }
                            });
                            if (r.status != 200) {
                                console.warn(r);
                                return;
                            }
                            const rj = await r.json();
                            let spam = {};
                            rj.Answer?.forEach(r => {
                                if (r.type == 1 && r.name.toLowerCase() === domain.toLowerCase()) {
                                    spam[spamCode(r.data)] = true;
                                }
                            });
                            const spams = Object.keys(spam).join(" ");
                            ipInfo.spam.value = spams;
                        })();
                    }

                    (async () => {
                        let reverseDomain;
                        if (isIpV4) {
                            reverseDomain = ipForQuery.split(".").reverse().join(".") + ".in-addr.arpa";
                        } else {
                            return;
                        }

                        const pr = await fetch(`https://1.1.1.1/dns-query?name=${reverseDomain}&type=PTR`, {
                            "headers": {
                                "accept": "application/dns-json"
                            }
                        });
                        if (pr.status != 200) {
                            console.warn(pr);
                            return;
                        }
                        const pj = await pr.json();
                        let hostname = "";
                        if (pj.Answer && pj.Answer.length != 0) {
                            hostname = pj.Answer[0].data;
                            hostname = hostname.substr(0, hostname.length - 1);
                        }
                        ipInfo.hostname.value = hostname;
                    })();

                } catch (e) {
                    resultList.value.unshift({
                        ip: rawip,
                        result: { isp: e },
                        id: id.value
                    })
                    console.warn(e)
                    return
                }
            }

            const ipReg = /(?:^|\s)((?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|(?:[0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|(?:[0-9a-fA-F]{1,4}:){1,7}:|(?:[0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|(?:[0-9a-fA-F]{1,4}:){1,5}(?::[0-9a-fA-F]{1,4}){1,2}|(?:[0-9a-fA-F]{1,4}:){1,4}(?::[0-9a-fA-F]{1,4}){1,3}|(?:[0-9a-fA-F]{1,4}:){1,3}(?::[0-9a-fA-F]{1,4}){1,4}|(?:[0-9a-fA-F]{1,4}:){1,2}(?::[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:(?:(?::[0-9a-fA-F]{1,4}){1,6})|:(?:(?::[0-9a-fA-F]{1,4}){1,7}|:)|::(?:[fF]{4}(?::0{1,4})?:)?(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))(?:\s|$)/g

            async function submit() {
                const matches = ip.value.match(ipReg);
                const uniqueIps = [...new Set(matches.map(v => v.trim()))];
                for (const v of uniqueIps){
                    await query(v)
                }
            }

            return {
                ip: ip,
                resultList: resultList,
                id: id,
                submit,
                geo
            }
        },
    }).mount('#app')
</script>

<style>
    .card {
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        border-radius: 10px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .card-body {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        word-wrap: break-word;
        align-items: baseline;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        word-break: break-all;
    }

    .isp {
        flex: 1 0 100%;
    }

    .result {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        grid-gap: 10px;
    }

    .list-enter-active,
    .list-leave-active {
        transition: all 1s;
    }

    .list-enter-from,
    .list-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }

    .list-move {
        transition: transform 0.8s;
    }
</style>

</html>