<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片格式转换</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.13/pico.min.css"
        integrity="sha512-f+jypl+x4tN8ALcLG83XteLm039W4XIh+4SNoGBH8PN1URRwWIKKYyzsx/mvgplRYScNQCWXjoGIO3KQ3mRy4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
        integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <meta http-equiv="origin-trial"
        content="Avpn5bS3QJyB6GaR4K1t97uyeMh7FAhM5t3hqmK0nG3u1gzAZPbcFVukVOlIa0jO1508BlwuH+KeJVhwblZHawgAAABgeyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0Ojk5OTkiLCJmZWF0dXJlIjoiVW5yZXN0cmljdGVkU2hhcmVkQXJyYXlCdWZmZXIiLCJleHBpcnkiOjE2ODgwODMxOTl9"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.34/vue.global.min.js"
        integrity="sha512-luI7/KFa9bYtXPNKQ0+AlR4i0YJNNQGmkxzDfH0qe/w9FMJCMSN92AP81TNuSQ9jSi1eEJKwqSAefNFUoemgbA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style type="text/css">
        header {
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 30px;
        }
    </style>
</head>



<body>
    <div id="app">
        <header>
            <nav class="container-fluid">
                <ul>
                    <li><strong>图片格式转换</strong></li>
                </ul>
                <ul>
                </ul>
            </nav>
        </header>
        <main class="container">
            <div style="display: grid;grid-template-columns: 15em 5em;column-gap: 10px;">
                <input type="file" ref="file" accept="image/*,video/*,*/*" multiple>
                <button @click="fileupload" style="width: 5em;">转换</button>
            </div>
            <progress v-if="max != 0" :value="allprogres" :max="max"></progress>
            <select v-model="selected">
                <option disabled value="">选择需要转换到的格式</option>
                <option>jpeg</option>
                <option>jpegli</option>
                <option>png</option>
                <option>gif</option>
                <option>apng</option>
                <option>webp</option>
                <option>avif</option>
            </select>
            <label>
                质量 0-1，部分格式有效
                <input type="number" v-model="quality">
            </label>
            <label>
                最大宽度 / 高度
                <input v-model="size">
            </label>
            <label v-if="selected != 'png' && selected != 'jpeg' && selected != 'avif' && selected != 'jpegli'">
                帧率（对于动图）
                <input type="number" v-model="fps">
            </label>
            <p v-if="errmsg" style="color: red;">{{ errmsg }}</p>
            <div style="display: grid;grid-template-columns: 8em 5em;column-gap: 10px;">
                <button v-if="imgs.length" @click="alldownload">全部下载</button>
                <button v-if="imgs.length" @click="clean">清空</button>
            </div>
            <progress v-for="(progress,id) in progress" :key="id" :value="progress" max="100"></progress>

            <div class="imgs" v-if="imgs.length"
                style="display: grid;grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));gap: 15px;align-items:center;padding-bottom: 20px;">
                <div v-for="(img, index) in imgs.toReversed()" :key="index">
                    <div v-if="img && img.url != ''">
                        <img :src="img.url">
                        <span>{{ (img.size / 1000 / 1000).toFixed(2) }}MB / {{ (img.oldSize / 1000 / 1000).toFixed(2)
                            }}MB ({{ ((100 - img.size /
                            img.oldSize * 100) * -1).toFixed(2) }}%)</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

<script type="module">
    Vue.createApp({
        setup(props, context) {
            const errmsg = Vue.ref('');
            const file = Vue.ref(null);
            const selected = Vue.ref('');
            const quality = Vue.ref(0.8);
            const imgs = Vue.ref([]);
            const fps = Vue.ref('');
            const size = Vue.ref('');
            const progress = Vue.ref({});
            const allprogres = Vue.ref(0);
            const max = Vue.ref(0);

            const formateMap = {
                "avif": () => avifEncode,
                "webp": webpSwitch,
                "apng": () => (u, q) => any2Apng(u),
                "gif": () => (u, q) => any2GIf(u),
                "jpegli": () => jpegLiEncode,
            }

            async function doFile(file, index) {
                errmsg.value = "";
                if (selected.value == "") {
                    errmsg.value = "请选择转换格式";
                    return;
                }
                let b = null;

                const f = formateMap[selected.value] ? formateMap[selected.value](file.type) : null
                if (f) {
                    let ib = null
                    if (file.type.includes('png') || file.type.includes('jpeg') || file.type.includes('avif')) {
                        const u = URL.createObjectURL(file)
                        ib = new Uint8Array(await (await conver('png', quality.value, u)).arrayBuffer());
                        URL.revokeObjectURL(u);
                    } else {
                        ib = new Uint8Array(await file.arrayBuffer())
                    }
                    b = await f(ib, quality.value)
                    if (!(b instanceof Blob)) {
                        b = new Blob([b], { type: 'image/' + selected.value })
                    }
                } else {
                    if (file.type.indexOf('image') === -1) {
                        errmsg.value = "请选择图片文件";
                        return;
                    }
                    const u = URL.createObjectURL(file)
                    b = await conver(selected.value, quality.value, u);
                    URL.revokeObjectURL(u);
                }
                const uu = URL.createObjectURL(b)
                imgs.value[index] = {
                    name: file.name,
                    url: uu,
                    ext: selected.value == "jpegli" ? "jpeg" : selected.value,
                    size: b.size,
                    oldSize: file.size
                }
            }

            async function fileupload(fileList) {
                if (file.value.files.length != 0) {
                    fileList = file.value.files;
                }
                if (fileList == 0) {
                    errmsg.value = "请选择文件";
                    return;
                }
                if (fileList.length > 1) {
                    max.value = fileList.length
                    allprogres.value = 0
                }
                let l = []
                const imgLen = imgs.value.length
                for (const [index, v] of Array.from(fileList).entries()) {
                    l.push(new Promise(async e => {
                        await doFile(v, index + imgLen)
                        allprogres.value += 1
                        e()
                    }))
                    if (l.length > 5) {
                        await Promise.all(l)
                        l = []
                    }
                }
                await Promise.all(l)
            }

            document.addEventListener('paste', async (event) => {
                const items = event.clipboardData && event.clipboardData.items;
                const files = Array.from(items).filter(v => v.kind == "file").map(v => v.getAsFile())
                await fileupload(files)
            });


            async function alldownload() {
                const zip = new JSZip();
                for (const v of imgs.value) {
                    let ext = v.ext
                    if (ext == "jpeg") {
                        ext = "jpg"
                    }
                    const name = v.name.split(".").filter((v, i, a) => {
                        if (a.length == 1) {
                            return v
                        }
                        if (i != a.length - 1) {
                            return v
                        }
                    }).join(".")
                    const filename = name + "." + ext;
                    const r = await fetch(v.url)
                    const a = await r.arrayBuffer()
                    zip.file(filename, a, {
                        compression: "STORE"
                    })
                }
                const b = await zip.generateAsync({ type: "blob" })
                const url = URL.createObjectURL(b)
                const a = document.createElement('a');
                a.href = url
                a.download = "imgs.zip";
                a.click();
                URL.revokeObjectURL(url);
            }

            function clean() {
                for (const v of imgs.value) {
                    URL.revokeObjectURL(v.url);
                }
                imgs.value = []
                max.value = 0
                allprogres.value = 0
            }

            function webpSwitch(t) {
                const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
                if (t.includes('png') || t.includes('jpeg') || t.includes('avif')) {
                    if (isSafari) {
                        return webpWasm
                    }
                    return null
                }
                return Gif2Webp
            }

            async function conver(f, q, url) {
                let canvas = document.createElement('canvas');
                let ctx = canvas.getContext('2d');
                let image = new Image();
                image.src = url;

                return new Promise((resolve, reject) => {
                    image.onload = () => {
                        let [w, h] = [image.width, image.height]
                        if (size.value != "") {
                            const max = Number(size.value)
                            if (w > max || h > max) {
                                if (w > h) {
                                    h = image.height / (image.width / max)
                                    w = max
                                } else {
                                    h = max
                                    w = image.width / (image.height / max)
                                }
                            }
                        }
                        canvas.width = w;
                        canvas.height = h;
                        if (f == "jpeg") {
                            ctx.fillStyle = '#ffffff';
                            ctx.fillRect(0, 0, canvas.width, canvas.height);
                        }
                        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                        canvas.toBlob((b) => {
                            resolve(b);
                        }, `image/${f}`, q)
                    }
                })
            }

            function makeFlag(l) {
                let vf = [];
                if (size.value != "") {
                    vf.push(`scale='if(gt(a,1),${size.value},-1)':'if(gt(a,1),-1,${size.value})'` + ":flags=lanczos")
                }
                if (fps.value != "") {
                    vf.push("fps=fps=" + fps.value)
                } else {
                    l.push(...["-fps_mode", " passthrough"])
                }
                if (vf.length != 0) {
                    l.push("-vf")
                    l.push(vf.join(","))
                }
                return l
            }

            async function any2GIf(d) {
                let l = []
                let vf = [];
                if (fps.value != "") {
                    vf.push("fps=fps=" + fps.value)
                } else {
                    l.push(...["-fps_mode", " passthrough"])
                }
                if (size.value != "") {
                    vf.push(`scale='if(gt(a,1),${size.value},-1)':'if(gt(a,1),-1,${size.value})'` + ":flags=lanczos")
                }
                vf.push("split[split1][split2];[split1]palettegen=max_colors=256:reserve_transparent=on:stats_mode=full[pal];[split2][pal]paletteuse=dither=floyd_steinberg")
                if (vf.length != 0) {
                    l.push("-vf")
                    l.push(vf.join(","))
                }
                const ffmpeg = makeFFmpeg();
                const flag = ['-i', '1.gif', ...l, "-loop", "0", 'output.gif']
                const r = await ffmpeg([flag, d, 'output.gif'])
                return r
            }

            async function Gif2Webp(d, q) {
                let quality = q * 100
                let l = ['-quality', String(quality)]
                if (quality == 100) {
                    l = ['-lossless', "1"]
                }
                l = makeFlag(l)
                const ffmpeg = makeFFmpeg();
                const flag = ['-i', '1.gif', ...l, "-loop", "0", "-c:v", "libwebp", 'output.webp']
                const r = await ffmpeg([flag, d, 'output.webp'])
                return r
            }

            async function any2Apng(d) {
                let vf = [];
                let l = []
                l = makeFlag(l)
                const ffmpeg = makeFFmpeg();
                const flag = ['-i', '1.gif', ...l, "-plays", "0", 'output.apng']
                const r = await ffmpeg([flag, d, 'output.apng'])
                return r
            }

            async function webpWasm(d, q) {
                const webp = webpWorker()
                const img = await toImageData(d)
                return webp([img, q])
            }

            async function jpegLiEncode(d, q) {
                const jpegli = jpegliWorker()
                const img = await toImageData(d)
                return jpegli([img, q])
            }

            async function avifEncode(d, q) {
                const avif = avifNewWorker()
                const img = await toImageData(d)
                return avif([img, q])
            }

            function makeFFmpeg() {
                let id = 0
                id++

                return async (message) => {
                    const [flag, d, fname] = message
                    const baseURL = 'https://unpkg.com/@ffmpeg/core/dist/esm'
                    const { FFmpeg } = await import('./static/ffmpeg/index.js')
                    const { toBlobURL } = await import('https://unpkg.com/@ffmpeg/util@0.12.2/dist/esm')

                    const ffmpeg = new FFmpeg()
                    ffmpeg.on('progress', (p) => {
                        if (!p.progress) return
                        progress.value[id] = p.progress * 100
                        if (p.progress == 1 || !p.progress) {
                            delete progress.value[id]
                        }
                    });
                    ffmpeg.on('log', ({ message }) => {
                        console.log(message);
                    });
                    await ffmpeg.load({
                        coreURL: await toBlobURL(`${baseURL}/ffmpeg-core.js`, 'text/javascript'),
                        wasmURL: await toBlobURL(`${baseURL}/ffmpeg-core.wasm`, 'application/wasm'),
                    });
                    await ffmpeg.writeFile('1.gif', d)
                    await ffmpeg.exec(flag);
                    const data = await ffmpeg.readFile(fname);
                    ffmpeg.terminate()
                    return data
                }
            };

            return {
                errmsg,
                file,
                selected,
                quality,
                imgs,
                fileupload,
                alldownload,
                clean,
                progress,
                fps,
                size,
                allprogres,
                max
            }
        },
    }).mount('#app')

    function webpWorker() {
        return newWorker("./static/webp/enc/webp_work.js")
    }

    function jpegliWorker() {
        return newWorker("./static/jpegli/jpegli.mjs")
    }

    function avifNewWorker() {
        return newWorker("./static/avifnew/avif.mjs")
    }


    function newWorker(url) {
        const worker = new Worker(url, { type: "module" });
        let pendingJob;

        worker.onmessage = ({ data }) => {
            pendingJob(data);
            worker.terminate()
            return
        };
        return (message) =>
            new Promise(resolve => {
                pendingJob = resolve;
                worker.postMessage(message);
            });
    }

    function toImageData(uint8Array) {
        return new Promise((resolve, reject) => {
            const blob = new Blob([uint8Array]);
            const img = new Image();
            img.onload = () => {
                const canvas = document.createElement('canvas');
                canvas.width = img.width;
                canvas.height = img.height;
                const ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 0);
                const imageData = ctx.getImageData(0, 0, img.width, img.height);
                URL.revokeObjectURL(img.src)
                resolve(imageData);
            };
            img.onerror = () => {
                URL.revokeObjectURL(img.src)
                reject()
            };
            img.src = URL.createObjectURL(blob);
        });
    }

</script>

</html>